.reveal .slides ol,
.reveal .slides dl,
.reveal .slides ul {
  display: block !important;
  text-align: left !important;
  margin: 0 !important;
}

.reveal .slides li {
  margin: 1rem;  
}

.reveal .slides h1, h2 {
  margin-top: 0 !important;
}

.reveal blockquote {
  margin: 3% auto;
  width: 100%;
}

.reveal blockquote > p {
  font-size: 2rem;
}

.hljs {
  font-size: 1.4rem;
 }

.reveal pre {
  margin: 3% auto;
  max-width: 80%;
}